@charset "EUC-KR";
 #main{
     margin-top:12%;
 }   
#accomodationDetailMain{
 width: 85%;
 height: auto;
 margin: auto;
}
.detailSearch{
    width: 19%;
    height: 550px;
    float: left;
   margin-right: 1.5%;
   background: #ffd2a2;
   padding-left: 2.5%;
   font-size: 13px;
   position:fixed;
   border-radius: 8px; 
}
#detailList{
    width: 100%;
    height: auto;
    margin-right: -40px;
  
}
#detailMention{
    width: 98.5%;
    height: 40px;
    padding-top: 1%;
    font-size: 20px;
    font-weight: bold;
    border:solid 2px;
    text-align: center;
    border-radius: 10px;
}
#optionList{
    width: 99%;
    height: 30px;
    border: solid 1px  #07c;;
    border-radius: 4px;
    margin-top: 0.5%;
}
.accomodationList{
    width: 97%;
    height: 200px;
    border: solid 0.5px;
    margin-top: 2%;
    padding: 10px;
    border-radius: 4px;
}
.detailSearch h2{
	cursor: pointer;
	margin-top: 85px;
	margin-bottom: 50px;
}
#selects{
	margin-top:-3px;
}
.accomodationList img{
 width: 30%;
 height: 200px;
}
.detailContent{
    height: 224px;
    width: 34%;
    float:right;
    word-break: break-all;
    margin-top: -25px;
    margin-right: 430px;
}
.option{
    float: left;
    width: 24.8%;
     border: solid 1px  black;
    padding-top: 5px;
    height: 24px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#optionList{
    width: 98.6%;
    height: 30px;
    border-radius: 4px;
    background-color: #07c;
    margin-bottom: -22px;
}
#b{
	color: green;
	font-size: 17px;
}
#c{
	color:blue;
	font-size: 17px;
}
a{
	text-decoration: none;
	color: black;
}
.detailContent h3{
    margin: 0;
    color: #07c;
}
.detailContent p{
   font-size: 11px;
   font-weight: bold;
}
.detailContent b{
   font-size: 14px;
}
.option{
    float: left;
    width: 24.8%;
    border-right: solid 1px #07c;
    padding-top: 5px;
    height: 24px;
    text-align: center;
    font-size: 12px;
}
#mainSearch{
    width: 109%;
    height: 50px;
    padding-top: 5%;
    font-size: 18px;
    padding-left: 4%;
    background-color: #febb02;
    margin-left: -46px;
    border-radius: 8px; 
}
.detailSearch p{
    margin: 0;
    margin-top: 5%;
}
.detailSearch select{
border: none;
height: 25px;
width: 90%;
}
.detailSearch button{
margin-top: 10%;
border: none;
border-radius: 10px;
height: 100px;
width: 90%;
background-color: #07c;
color: white;
font-size: 18px;
cursor: pointer;

}