@charset "UTF-8";
  #mainHeader{
     margin-top:173px;
    width: 101%;
    height: 280px;
    background-color: rgb(245, 244, 244);
   padding-top: 2%;
  
  }
  #mainHeaderContent{
      margin: auto;
      width: 80%;
      height: 200px;
      
  }
  #mainHeaderMent{
     
      height: 80px;
      width: 60%;
     
  }
  .listContent h6{
  color: #00a000;
  font-size: 13px;
  margin-top: 30px;
  }
  a{
  text-decoration: none;
  }
  h2{
     margin: 0;
  }
  #mainHeaderBox{
      width: 100%;
      height: 90px;
      border: solid 1px;
      border-radius: 3px;
  }
  .mainHeaderSerach{
      width: 19.5%;
      height: 90px;
      border-right: solid 1px;
      float: left;
      text-align: center;
      background-color: white;
      
  }
  .top{
     padding-top: 11px;
      height: 5px;
      width: 100%;
      font-size: 12px;
     
  }
  .bottom{
     
      width: 100%;
      height: 45px;
      padding-top: 25px;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
  }
  #SearchBox{
      margin: auto;
      width: 80%;
      height: 200px;
      border: solid 2px;
      margin-top: -100px;
  }
  #boxKind{
  float: left;
  border: solid 2px;
  height: 200px;
  width: 16.7%;
  
  padding-left: 3%;
  border-radius:3px;
  box-shadow: 0 3px 7px rgba(0,0,0,.2);
  }
  #boxArea{
  float: left;
  border: solid 2px;
  height: 200px;
  width: 59%;
 
  }
  
  .bottom input{
      border: none;
     
  }
  #serach{
      width: 110%;
      height: 59px;
      padding-top: 30px;
      border: solid 1px #07c;
      background-color: #07c;
	  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #07c),
	  color-stop(100%, #07c));
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07c",
		endColorstr="#07c", GradientType=0);
      color: white;
      cursor: pointer;
  }
 
 
 
  #mainContent{
     height: auto;
      width: 100%;
      margin-top:5%; 
  }

 
 
 
 #accomodationList{
      margin: auto;
      height: 300px;
      width: 80%;
    
  }
  #listMention{
      margin: auto;  
      width: 78%;
      height: 20px;
      padding-top: 30px;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 1.5%;
  }
  .accmodation{
      float: left;
      width: 23%;
      height: 240px;
      margin-left: 1.4%;
      font-weight: bold;
  }
  .accmodation img{
      width: 100%;
      height: 190px;
  }
  .accmodation p{
      margin: 0;
      font-size: 13px;
      color: grey;
  }
 
#accomodationList1{
    margin-top: 3%;
}
  #list {
	height: 650px;
    width: 80%;
    margin-top:200px; 
    margin: auto;
}

  #slideShow {
	width: 100%;
	height: 600px;
	list-style-type: none;
    overflow: hidden;
   margin-left: -40px;
  
}

#slideShow li {
	float: left;
	width: 23%;
	height: 610px;
	margin-bottom: 16%;
    margin-left: 1.5%;
    margin-right: 0;
    
}

#slideShow img {
	width: 100%;
	height: 240px;
}

#controll {
	height: 30px;
	text-align: center;
	margin-left: 3.7%;
}

#controll a {
	color: #999;
	text-decoration: none;
}

#content {
	padding-top: 5%;
	margin-top: 3%;
	height: 760px;
	width: 100%;
	border-top: solid 1px gray;
}



.mention {
	width: 95%;
	height: 250px;
	padding-top: 2%;
	margin-right: 4%;
	font-size: 12px;
	word-break: break-all;
	
}

.mention h4 {
	margin-right: 3.5%;
}

.listContent {
	
	width: 100%;
	height: 595px;
	border: solid 0.5px gray;
	background-color: white;
	overflow:hidden; 
	text-overflow:ellipsis; 
    
}
.mention h2{
    margin-bottom:10%;
}
h3{
    margin: 0;
}