button {
	float: right;
    width:100px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 210px 0px 0px;
    cursor: pointer;
	border-radius:10px;
}
a{
    color:#000;
    text-decoration: none;
}
a:hover{
    color: coral;
    font-weight: bold;
}
.contents{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.custom_menu{
    list-style: none;
	padding:200px 0px;
    width: 80%;
    margin: 0 auto;
}
ul {
    text-decoration: none;
}
.custom_menu li{
    display: inline-block;
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px; 
    padding:0 15px;
    list-style: none;
}

table{
    margin: 30px auto;
    width: 800px;
    text-align: center;
    border: solid 1px lightgrey;
}
thead{
    background-color: #d7d5d5;
    border: solid 1px lightgrey;
    
}
th{
    height: 40px;
    border-bottom: solid 1px lightgrey;
}
#num{
    width: 5%;
}
#kind{
	width: 10%;
}
#sub{
    width: 50%;
}
#writer{
    width: 20%;
}
#date{
    width: 15%;
}

.paging {
    padding: 130px 0 0;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.paging p {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}


.paging ol {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

.paging li {
    display: inline-block;
    margin: 0 0 0 -1px;
    border: 1px solid #d7d5d5;
    font-size: 12px;
    color: #757575;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

.paging li:first-child {
    margin-left: 0;
}

.paging img {
    vertical-align: top;
}

.paging li a {
    display: block;
    width: 33px;
    padding: 9px 0;
    font-weight: bold;
    color: #939393;
    line-height: 14px;
    background: #fff;
}

.paging li a:hover {
    text-decoration: none;
    background: #f0f2f2;
}

.paging li a.this {
    padding-bottom: 6px;
    border-bottom: 3px solid #495164;
    color: #495164;
}

.paging a.nolink {
    cursor: default;
}