body {
    font-family: "Jua", sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: coral;
    font-weight: bold;
}

.wrap_mypage{
    width: 1000px;
    margin: 0 auto;
}
.page_menu{
    text-align: center;
}
.page_menu ul {
    padding: 0;
    margin: 50px 0;
}

.page_menu ul li {
    display: inline-block;
    font-size: 30px;
    margin: 20px;
}

.o_menu{

    text-align: center;
}
.o_menu ul {
    padding: 0;
    margin: 20px 0;
}

.o_menu ul li {
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}
.o_menu strong{
    color: coral;
    font-size: 30px;
}
#o_table{

    margin: 0 auto;
}
.table h2{
    font-size: 40px;
}
#li{
    font-size: 25px;
}
#s_num{
    width:90px;
    font-size: 20px;
    font-weight: bold;
}
#num{
    width:90px;
}
#sub{
    width:110px;
    font-size: 20px;
    font-weight: bold;
}