#header_menu {
    height: 150px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: white;
    z-index: 1;
}

.logo {
    width: 201px;
    height: 100px;
    margin-left: 10px;
    overflow: hidden;
    background: url('') no-repeat 0 0;
    display: block;
    float: left;
}
#menu_list{
    list-style: none;
    float: right;
}
#menu_list li{
    padding-bottom:50px;
}
#h_menu{
    list-style: none;
    float: right;
    width: 650px;
}
#h_menu li{
    display: inline-block;
    position: relative;
    font-family: "Jua", sans-serif;
    font-size: 15px; 
    padding:0 15px;
}
#mainmenu {
    list-style: none;
    float: right;
    margin-right: 50px;
    width: 1000px;
}

#mainmenu li {
    display: inline-block;
    position: relative;
    font-family: "Jua", sans-serif;
    font-size: 25px; 
    padding:0 15px;

}
a{
    color:#000;
    text-decoration: none;
}
a:hover{
    color: coral;
    font-weight: bold;
}
