body { font-family: "Jua", sans-serif;
}
.sakura{
    z-index: 2;
}


a{
    color:#000;
    text-decoration: none;
}
a:hover{
    color: coral;
    font-weight: bold;
}

#schedule {
    width: 100%;
    height: 650px;
    margin-top: 150px; 
    margin-bottom: 50px;
}
#mainimg img{
    width: 100%;
    height: 650px;
    opacity: 0.7;

}
#plan{
    margin-top: -600px;
    margin-right:100px; 
    float: right;
    height: 530px;
    border: solid 2px rgb(103, 143, 103);
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    z-index: 2;
    position: relative;
} 
#plan_table img{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    z-index: 2;
    position: relative;
}

<!--------------------------리스트 박스 ---------------------------->

#restaurant,#accommodation,#festival,#movie {
    width: 100%;
    height: 1000px;
    margin-bottom: 50px;
}

.wrap_restaurant,.wrap_movie, .wrap_accommodation, .wrap_festival{
	height: 1000px;
	margin-top: 100px;
}
.main_img{
	margin-left: 130px;

}
.main_img img {
	border: solid 1px grey;
    border-radius: 5px;
    padding: 30px 112px;
    background-color: #FFF0F5;
}
.main_list{
	position:relative;
	margin: 50px 0 0 100px;
	overflow:hidden; 
	text-overflow:ellipsis; 
}
.img_list{

	display: inline;
}

  #slideShow {
	width: 1900px;
	list-style-type: none;
    overflow: hidden;
 	margin-left: -40px;
  	height: 410px;
  
}

#slideShow li {
	float: left;
	width: 380px;
    margin-left: 1.5%;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
  	margin-bottom: 40px;
    
}

#slideShow img {
	width: 100%;
	height: 240px;
}

#img_box{
	border: 5px solid #ddd;
  border-radius: 25px;
}
#img_box img{
	 border-radius: 20px;

}
#controll {
	height: 30px;
	text-align: center;
}

#controll a {
	color: #999;
	text-decoration: none;
}


