html, body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
    font-family: "Jua", sans-serif;
	background-color: rgba(252, 252, 252, 0.829);
}
#wrap_frm{
	width:500px;
    margin:20px auto;
	border: 1px solid rgb(204, 198, 198);
	padding: 20px 50px 50px 50px;
	display: inline-block;
	text-align: center;
	background-color: white;
}

#join_auth{
    margin-left: 20px;
}
#idCheck{
	height: 20px;
	margin-left: 105%;
	width:200%;
}
#join_auth tr, #join_auth  td {
	text-align: left;
	/* border:1px solid black;  */
    padding: 7px 0px 7px 0px;
}

#join_auth th {
	padding: 0px 20px 0px 0px;
	    width: 100px;
}

.textbox {
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid rgb(204, 198, 198);
}

.gender_radio {
	width: 40px;
	height: 22px;
}

#re_send {
	border-radius: 20px;
	border: 1px solid rgb(204, 198, 198);
	background-color: white;
	font-size: 15px;
	color: rgb(138, 133, 133);
}

#join_success {
    background-color: lightsalmon;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
}
.checkbox {
	width: 20px;
	height: 20px;
    float: right;
    margin-right: 50px;
}

.phone_text {
	width: 88px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid rgb(204, 198, 198);
}
/* 에러메시지 */
.error {
	font-size: 10px;
	color: red;
	display: none;
}
#sample6_postcode, #sample6_address, #sample6_detailAddress, #sample6_extraAddress{
    margin: 5px 0;
}