button:focus {
	outline: none;
}

ul {
	list-style: none;
}

body {
	margin: 0px;
}

#header {
	width: 100%;
	margin: 0 auto;
}
a{
	cursor: pointer;
	text-decoration: none;
}
#movie_title {
	width: 700px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 0px 0px 30px
}

#movie_title>img {
	position: relative;
	top: 14%;
	left: 50%;
	transform: translateX(-50%);
}

#contents {
	margin-top: 10%;
	width: 62%;
	height: 350px;
	margin-left: 77px;
}

#main_category {
	width: 100%;
	height: 80px;
	margin: 20px 250px 0px;
	float: left;
}

.socategory {
	float: left;
	position: relative;
	left: 30%;
	transform: translateX(-30%);
	list-style: none;
}

.socategory>li>a {
	text-decoration: none;
	color: black;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
}


#ad_img {
	width: 85%;
	height: 370px;
	float: left;
    margin-left: 7%;
}

#ad_img>p>img {
	width: 90%;
	height: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#box_office {
	width: 100%;
	float: left;
	background-color: black;
	height: 100px;
	margin: 0px 0px 5px 0px;
}

#box_office>img {
	position: relative;
	top: 35%;
	left: 50%;
	transform: translate(-50%, 35%);
}

#list {
	width: 88%;
	float: left;
}

#list li {
	font-size: 20px;
	margin: 10px -30px;
	font-family: 'Do Hyeon', sans-serif;
}

#reservation>button {
	width: 100%;
	display: block;
	background: #ee1c25;
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.footer {
	width: 100%;
	margin-top: -300px;
}

.footers {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 10%;
}

.footer h1 {
	text-align: center;
}

#category {
	width: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 40px;
	height: 100px;
	border: solid 2px;
}

#nowplaying {
	width: 100%;
	float: left;
	height: auto;
	margin-bottom: 2%;

}
#time{margin-left: 80%;}
#submits{
	border: solid 2px;
	margin-bottom: 15%;
}
#nowplayings {
	width: 100%;
	float: left;
	height: auto;
	background: #2a2e33;
}

.movie_list {
	width: 20%;
	height: auto;
	float: left;
	position: relative;
	left: 2%;
	transform: translateX(-9%);
	border: 1px solid #dedede;
	margin-right: 1.3%;
	margin-left: 2.8%;
	margin-top: 1%;
    margin-bottom: 3%;
	
}
.screenMovie_list{
	width: 20%;
	height: auto;
	float: left;
	position: relative;
	left: 2%;
	transform: translateX(-9%);
	border: 1px solid #dedede;
	margin-right: 1.3%;
	margin-left: 2.8%;
	margin-top: 1%;
    margin-bottom: 3%;
}

.screen_list {
	width: 18%;
	height: auto;
	float: left;
	position: relative;
	left: 2%;
	transform: translateX(-9%);
	border: 1px solid #dedede;
	margin-right: 1.3%;
	margin-left: 2.8%;
	margin-top: 1%;
	background: white;
	margin-bottom: 3%;
	margin-top: 3%;
}

.movie_list>img {
	width: 100%;
	height: 300px;
}
.screenMovie_list>img{
	
		width: 100%;
	height: 150px;
}
.screen_list>img {
	width: 100%;
	height: 200px;
}

#Screening_playing {
	width: 100%;
	float: left;
}

.movie_list1 {
	width: 300px;
	height: 300px;
	margin: 50px 10px;
	float: left;
	position: relative;
	left: 9%;
	transform: translateX(-9%);
	border: 3px solid gray;
}

.movie_list1>img {
	width: 300px;

}

.block {
	border: solid 2px;
}

fieldset {
	width: 78%;
	margin-left: 11%;
	height: auto;
}

legend {
	font-size: 20px;
	font-weight: bold;
}

.movieMention {
	height: auto;
	word-break: break-all;
}
.movieMention input{
	margin-left: 23%;
	width: 50%;
	border: solid 2px gray;
	margin-bottom: 4%;
}
.movieMention select{
	margin-left: 23%;
	width: 51.5%;
	border: solid 2px gray;
	
}
.movieMention h3 {
	margin-top: 10%;
	margin-bottom: -5px;
}

.movieMention h2 {
	margin-top: -2px;
	font-size: 19px;
}

.movieMention h4 {
	margin-top: -2px;
	font-size: 19px;
	text-align: center;
}

.movieMention h5 {
	margin-top: -7px;
	font-size: 12px;
}

#screenMention {
	margin-top: 5%;
	margin-left: 10.8%;
	border: solid 2px;
	height: 150px;
	width: 77.5%;
	padding-left: 3%;
	background-color: #f3e8d4;
	border-radius: 5px;
	margin-bottom: 3%;
}

.movieMention p {
	margin-top: -10px;
	font-size: 14px;
}

.theraterSerch {
	border: solid 2px;
	width: 30%;
	height: 308px;
	position: relative;
	left: 60%;
	top: -330px;
}

.theraterSerch h3 {
	margin-bottom: 10%;
	margin-top: 6%;
}

#therater {
	width: 100%;
	height: 40px;
	text-align: center;
	border: solid 2px;
	padding-top: 17px;
	font-size: 19px;
	font-weight: bold
}

#theaterName {
	height:200px; 
	width: 100%;
	text-align: center;
}
#theaterName >img{
	height:200px; 
	
}
#movieregister {
	height: 30px;
	width: 94%;
	margin-left: 3%;
	cursor: pointer;
	font-size: 20px;
}

.movieBox {
	height: 30px;
	float: right;
	width: 8%;
}

.movieBox select {
	height: 30px;
	width: 100%;
}