@charset "UTF-8";
body { font-family: "Jua", sans-serif;} 

.wrap_option_reg{
	width:400px;
    margin:20px auto;
	border: 1px solid rgb(204, 198, 198);
	padding: 20px 50px 50px 50px;
	display: inline-block;
	text-align: center;
}
#sub{
    font-size: 30px;
}


#td{
	text-align: center;
	font-size: 23px;
}

.table tr  {
	text-align: left;
	/* border:1px solid black;  */
    padding: 10px 0px 7px 0px;
    font-size: 18px;
}
.table  td{
    text-align: left;
    width: 180px;
}

input, select{
	height: 30px;
	 width: 180px;
}