body {
    font-family: "Jua", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: lightsalmon;
    font-weight: bold;
}
#mainHeader{
    margin: 200px 0 0 0 ;
    text-align: center;
}
.wrap_contents {
    width: 1000px;
    margin: 0 auto;
}

.hotplace, .newplace {
    width: 900px;
    margin: 0 auto;
}

.sub {
    width: 900px;
    margin: 0 auto;
}

.sub h3 {
    margin-top: 30px;
    font-size: 30px;
}
.list_m{
    
    margin: 0 auto;
    width: 1000px
}
.list {
    text-align: center;
    list-style: none;
    padding: 0;
    display: inline-block;
    position: relative;
}

.res_list {
    list-style: none;
    padding: 0;
}

.res_list img {}

#kind {
    color: gray;
}

#name {
    font-size: 28px;
}

#loc {
    color: gray;
}

#paging_box{
			float: left;
			width: 1080px;
			margin: 20px 0px;
		}
		#paging_box a{
			display: inline-block;
			vertical-align: middle;
			width: 26px;
			height: 24px;
			border: 1px solid #dadada;
			background: #f7f7f7;
			color: #555;
			text-align: center;
			line-height: 21px;
			text-decoration:none;
			position: relative;
			left: 40%;
			transform: translateX(-40%);
			margin: 20px 0px;
		}