body {
    font-family: "Jua", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: lightsalmon;
    font-weight: bold;
}

.wrap_contents {
    width: 800px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 40px 50px 20px 50px;
}
#sub {
    font-size: 40px;
    text-align: center; 
    margin-bottom: 20px;
}
.food_img {
    margin: 0 auto;
    text-align: center;
}

.res {
    margin: 50px 0;
}

.res_info {
    width: 400px;
}

.info {
    list-style: none;
    padding: 0;
}

#name {
    font-size: 50px;
    margin: 10px 0;
}

#kind {
    font-size: 20px;
    color: gray;
    margin: 10px 0;
}

#loc {
    font-size: 20px;
    color: gray;
    margin: 10px 0;
}

#tel {
    font-size: 25px;
    margin: 10px 0;
}

.info_detail {
    margin-top: 40px;
    list-style: none;
    padding: 0;
}

#de_info_sub {
    font-size: 30px;
    padding-top: 30px;
}

#de_info {
    font-size: 21px;
    color: gray;
    margin-top: 40px;
}

#de_addr {
    font-size: 18px;
    color: black;
    margin-top: 40px;
}

.res_food_list {
    width: 800px;
    margin: 0 auto;
}

#h2 {
    font-size: 30px;
    border-top: solid gray 1px;
    padding-top: 40px;
}

.re_menu {
    width: 800px;
    list-style: none;
    text-align: center;
    padding: 0;
    position: relative;
}
.re_menu_li{
    width: 190px;
    display: inline-block;
}
#chk {
    margin: 10px 0;
    font-size: 20px;
}

p {
    margin: 0;
}

span {
    margin-right: 20px;
}

.date {}

.res_table {
    width: 800px;
    height: 330px;
    background-color: lightgray;
}

.table_box {
    width: 400px;
    padding: 40px;
    font-size: 25px;
    float: left;
}

#t_box {}

#label {
    font-size: 18px;
}

#select, .date, #time {    width: 100px;
    height: 30px;}
#pp, #dt, #tm, #chkmenu, #price{
    font-size: 20px;
}
.chk_menu {
    padding-top: 40px;
    width: 300px;
    font-size: 25px;
    float: right;
    margin-bottom: 30px;
}

.ui-datepicker {
    width: 280px;
    height: auto;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background-color: antiquewhite;
}
.pay{
    margin-top: 30px;
    width: 800px;
    height: 330px;
    background-color: lightgray;
    
}

.info_box{
    width: 800px;
    padding: 40px;
    font-size: 20px;
    
}
#info_box{
    font-size: 25px;
}
#card, #halbu{
    height: 30px;
    margin-bottom: 20px;
}
.cardNum{
    width: 100px;
    height: 30px;
}
.btn{
    width: 800px;
}


#paybtn {
    background-color: lightsalmon;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 32px;
    margin: 10px 0 0 300px;
}


