@charset "EUC-KR";
#registeRoom {
	border: solid 2px;
	height: auto;
	width: 95%;
	margin-right: 3%;
	margin-top: 1%;
	border-radius: 10px;
	padding-left: 5%;
}

#number{
	width: 6%;
}

#submit {
	margin-left: 33%;
	margin-top: 5%;
	margin-bottom:5%;
}

img{
	cursor: pointer;
}
