body {
    font-family: "Jua", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Jua", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: lightsalmon;
    font-weight: bold;
}

.wrap_success {
    width: 800px;
    margin: 0 auto;
}

#logo {
    width: 500px;
    margin: 0 auto;
}

.success_box {
    margin: 0 auto;
    text-align: center;
}
.h2{
	border:solid 2px;
	text-align: left;
	width:63%;
	margin-left:18%;
}

.h2 h2{
	margin-left:5%;
}

#link {
    width: 800px;
    margin-top: 50px;
}

#link ul {
    text-decoration: none;
    text-align: center;
}

#link ul li {
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
}