<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AccomodationMapper">
	<cache />

	                    <!-- Accomodation -->

	<!-- 숙박을 등록하기위한 -->
	<insert id="insertAccomodation" parameterType="AccomodationDTO">
		insert into
		ACCOMODATION(ACCOMODATION_NUM,ACCOMODATION_NAME,ACCOMODATION_ADD,ACCOMODATION_AREA,ACCOMODATION_KIND
		,ACCOMODATION_TELL,ACCOMODATION_IMG,ACCOMODATION_IMGSTORE,ACCOMODATION_INFORM)
		
		values((select nvl(max(ACCOMODATION_NUM),0) +1 from
		ACCOMODATION),#{accomodationName},#{accomodationAdd},#{accmodationArea},#{accmodationKind},
		#{accmodationTell},#{accmodationImg},#{accmodationImgstore},#{accomodationInform})
	</insert>
	 <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	
	<!--등록된 숙박을 리스트로 출력하기위한 -->
	<select id="listAccomodation" resultMap="listAccomodation">
		select ACCOMODATION_NUM,
		ACCOMODATION_NAME ,ACCOMODATION_ADD,
		ACCOMODATION_AREA,
		ACCOMODATION_KIND, ACCOMODATION_TELL,
		ACCOMODATION_IMGSTORE,
		ACCOMODATION_INFORM ,ACCOMODATION_AVG 
		from ACCOMODATION
	</select>
    
	
	<resultMap type="AccomodationDTO" id="listAccomodation">
		<id column="ACCOMODATION_NUM" jdbcType="BIGINT"
			property="accomodationNum" />
		<result column="ACCOMODATION_NAME" jdbcType="VARCHAR"
			property="accomodationName" />
		<result column="ACCOMODATION_ADD" jdbcType="VARCHAR"
			property="accomodationAdd" />
		<result column="ACCOMODATION_AREA" jdbcType="VARCHAR"
			property="accmodationArea" />
		<result column="ACCOMODATION_KIND" jdbcType="VARCHAR"
			property="accmodationKind" />
		<result column="ACCOMODATION_TELL" jdbcType="VARCHAR"
			property="accmodationTell" />
		<result column="ACCOMODATION_INFORM" jdbcType="VARCHAR"
			property="accomodationInform" />
		<result column="ACCOMODATION_IMGSTORE" jdbcType="VARCHAR"
			property="accmodationImgstore" />
		<result column="ACCOMODATION_AVG" jdbcType="BIGINT"
			property="accomodationAvg" />
	
	</resultMap>
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	
	<!-- 종류별로 등록된 숙박수를 메인에서 확인하기위한 -->
	<select id="listAccomodationCount"
		resultMap="listAccomodationCount">
		select ACCOMODATION_KIND, count(ACCOMODATION_KIND) as cnt
		from ACCOMODATION
		group by ACCOMODATION_KIND
	</select>

	<resultMap type="AccomodationDTO" id="listAccomodationCount">
		<result column="ACCOMODATION_KIND" jdbcType="VARCHAR" property="accmodationKind" />
		<result column="cnt" jdbcType="BIGINT" property="count" />
	</resultMap>
    <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	
	<!-- 종류별로 숙박 리스트를 출력하기위한 -->
	<select id="listEachAccomodationCount" parameterType="String" resultMap="listAccomodation">
		select ACCOMODATION_NUM, ACCOMODATION_NAME
		,ACCOMODATION_ADD,
		ACCOMODATION_AREA, ACCOMODATION_KIND,
		ACCOMODATION_TELL,
		ACCOMODATION_IMGSTORE, ACCOMODATION_INFORM, ACCOMODATION_AVG from
		ACCOMODATION where ACCOMODATION_KIND =#{kind}
	</select>
    <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	
	<!-- 지역별로 숙박 리스트를 출력하기위한 -->
	<select id="AccomodationArea" parameterType="HashMap" resultMap="listAccomodation">
		select ACCOMODATION_NUM, ACCOMODATION_NAME
		,ACCOMODATION_ADD,
		ACCOMODATION_AREA, ACCOMODATION_KIND,
		ACCOMODATION_TELL,
		ACCOMODATION_IMGSTORE, ACCOMODATION_INFORM, ACCOMODATION_AVG from
		ACCOMODATION where ACCOMODATION_KIND =#{kind} and ACCOMODATION_AREA=#{area}
	</select>
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
  
   <!-- 높은 가격별로 숙박 리스트를 출력하기위한 -->
	<select id="AccomodationPrice" parameterType="String" resultMap="listAccomodation">
		select ACCOMODATION_NUM, ACCOMODATION_NAME
		,ACCOMODATION_ADD,
		ACCOMODATION_AREA, ACCOMODATION_KIND,
		ACCOMODATION_TELL,
		ACCOMODATION_IMGSTORE, ACCOMODATION_INFORM, ACCOMODATION_AVG from
		ACCOMODATION where ACCOMODATION_KIND =#{kind} ORDER BY ACCOMODATION_AVG DESC
	</select>
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   
    <!-- 낮은 가격별로 숙박 리스트를 출력하기위한 -->
	<select id="AccomodationLowPrice" parameterType="String" resultMap="listAccomodation">
		select ACCOMODATION_NUM, ACCOMODATION_NAME
		,ACCOMODATION_ADD,
		ACCOMODATION_AREA, ACCOMODATION_KIND,
		ACCOMODATION_TELL,
		ACCOMODATION_IMGSTORE, ACCOMODATION_INFORM, ACCOMODATION_AVG from
		ACCOMODATION where ACCOMODATION_KIND =#{kind} ORDER BY ACCOMODATION_AVG 
	</select>
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   
	<!-- 종류별로 등록된 숙박수를 디테일 페이지에서 확인하기위한 -->
	<select id="AccomodationCount" parameterType="String"
		resultMap="AccomodationCount">
		select count(*) as cnt from ACCOMODATION where
		ACCOMODATION_KIND =#{kind}
	</select>

	<resultMap type="AccomodationDTO" id="AccomodationCount">
		<result column="cnt" jdbcType="BIGINT" property="count" />
	</resultMap>
                 
                  <!-- AccomodationDetail -->

	<!-- 디테일페이지에서 선택된 숙박의 정보를 출력하기위해서 -->
	<select id="AccomodationRoom" parameterType="long"
		resultMap="AccomodationRoom">

		select ACCOMODATION_NUM, ACCOMODATION_NAME
		,ACCOMODATION_ADD,
		ACCOMODATION_AREA, ACCOMODATION_KIND,
		ACCOMODATION_TELL,
		ACCOMODATION_IMGSTORE, ACCOMODATION_INFORM from
		ACCOMODATION where
		ACCOMODATION_NUM =#{num}
	</select>
   
	<resultMap type="AccomodationDTO" id="AccomodationRoom">
		<id column="ACCOMODATION_NUM" jdbcType="BIGINT"
			property="accomodationNum" />
		<result column="ACCOMODATION_NAME" jdbcType="VARCHAR"
			property="accomodationName" />
		<result column="ACCOMODATION_ADD" jdbcType="VARCHAR"
			property="accomodationAdd" />
		<result column="ACCOMODATION_AREA" jdbcType="VARCHAR"
			property="accmodationArea" />
		<result column="ACCOMODATION_KIND" jdbcType="VARCHAR"
			property="accmodationKind" />
		<result column="ACCOMODATION_TELL" jdbcType="VARCHAR"
			property="accmodationTell" />
		<result column="ACCOMODATION_INFORM" jdbcType="VARCHAR"
			property="accomodationInform" />
		<result column="ACCOMODATION_IMGSTORE" jdbcType="VARCHAR"
			property="accmodationImgstore" />
	</resultMap>
    <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

	
   <!--객실이 등록될때 부모테이블인 데이트상품넘버 값을 가져오기위해  -->
	<select id="DateProductNum" resultType="long">
		select
		nvl(max(PRODUCT_NUM),0) +1 from
		DATEPRODUCT
	</select>
     <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
     
     <!--객실이 등록될때 부모테이블 데이트상품넘버에 값을 넣기위해  -->
	<insert id="DateProduct" parameterType="AccomodationRegisterDTO">
		insert into
		DATEPRODUCT(PRODUCT_NUM, CATEGORY_NUM)
		values(#{roomNum},3)
	</insert>
      <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- 객실상품을을 등록하기위해 -->
	<insert id="AccomodationRegister"
		parameterType="AccomodationRegisterDTO">
		insert into DATEROOM(ROOM_NUM, ACCOMODATION_NUM,
		PRODUCT_NUM, CATEGORY_NUM,
		ROOM_PRICE,
		ROOM_AD, ROOM_EX, ROOM_KIND,
		ROOM_IMGSTORE,ROOM_IMG, ROOM_COUNT)
		values((select nvl(max(ROOM_NUM),0)
		+1 from
		DATEROOM),#{accomodationNum},#{roomNum},3,#{roomPrice}
		,#{roomAd},#{roomEx},#{roomKind},#{roomImgstore},#{roomImg},#{roomCount}
		)
	</insert>
	 <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- 등록된 객실상품을 리스트로 출력하기위해 -->
	<select id="AccomodationRoomList" parameterType="long"
		resultMap="AccomodationRoomList">

		select ROOM_NUM,ROOM_PRICE,ROOM_AD, ROOM_EX, ROOM_KIND,
		ROOM_IMGSTORE,
		ROOM_COUNT,PRODUCT_NUM from DATEROOM where ACCOMODATION_NUM = #{num}

	</select>
	<resultMap type="AccomodationRegisterDTO"
		id="AccomodationRoomList">
		<id column="ROOM_NUM" jdbcType="BIGINT" property="roomNum" />
		<result column="ROOM_PRICE" jdbcType="BIGINT"
			property="roomPrice" />
		<result column="ROOM_AD" jdbcType="VARCHAR" property="roomAd" />
		<result column="ROOM_EX" jdbcType="VARCHAR" property="roomEx" />
		<result column="ROOM_KIND" jdbcType="VARCHAR"
			property="roomKind" />
		<result column="ROOM_IMGSTORE" jdbcType="VARCHAR"
			property="roomImgstore" />
		<result column="ROOM_COUNT" jdbcType="BIGINT"
			property="roomCount" />
			<result column="PRODUCT_NUM" jdbcType="BIGINT"
			property="productNum" />
	</resultMap>
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<select id="AccomodationAvg" parameterType="long" resultType="long">
		select nvl(avg(ROOM_PRICE),0) from DATEROOM where ACCOMODATION_NUM=#{num} 

	</select>

   <insert id="AccomodationAvgInser" parameterType="HashMap">
		UPDATE ACCOMODATION SET
		ACCOMODATION_AVG=#{avg} WHERE ACCOMODATION_NUM =#{num}
   </insert>
  
   
</mapper>