<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">
	<cache />
	
	<insert id="insertMember" parameterType="MemberDTO">
		insert into MEMBER (MEMBER_ID,MEMBER_PW,MEMBER_TELL,MEMBER_GENDER,MEMBER_MAIL
		,MEMBER_ADD,MEMBER_AREA,MEMBER_DATE,MAIL_CONFRIM,MEMBER_NAME
		)
		values(#{memberId},#{memberPw},#{memberTell},#{memberGender},#{memberMail},
		#{memberAdd},#{memberArea},sysdate,#{mailConfrim},#{memberName})
	</insert>
	

</mapper>