<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="CustomerMapper">
	<cache />
	<sql id="customerservice">
	BOARD_NUM,MEMBER_ID,CHARGE_NUM,BOARD_CONTENT,BOARD_DATE,BOARD_ANSWER,BOARD_KIND,BOARD_TITLE
	</sql>
	<!-- 답변쓰기 -->
	<insert id="answerinsert" parameterType="CustomerserviceDTO">
		insert into board (BOARD_ANSWER_NUM,BOARD_NUM,ANSWER_CONTENT,ANSER_DATE,ANSER_TIME)
		values((select nvl(max(BOARD_NUM),0) +1 from board),#{BoardNum},#{AnswerContent},sysdate,0420)
	</insert>
	
	<insert id="cinsert" parameterType="CustomerserviceDTO">
		insert into COUNTER (BOARD_NUM,MEMBER_ID,CHARGE_NUM,BOARD_CONTENT,BOARD_DATE,BOARD_ANSWER,BOARD_KIND,BOARD_TITLE)
		values((select nvl(max(BOARD_NUM),0) +1 from COUNTER),#{MemberId},#{ChargeNum,jdbcType=BIGINT},#{BoardContent},sysdate,2,#{BoardKind},#{BoardTitle})
	</insert>
	
	<resultMap type="CustomerserviceDTO" id="listrs">
		<id column="BOARD_NUM" jdbcType="BIGINT" property="BoardNum"/>
		<result column="MEMBER_ID" jdbcType="VARCHAR" property="MemberId"/>
		<result column="CHARGE_NUM" jdbcType="BIGINT" property="ChargeNum"/>
		<result column="BOARD_CONTENT" jdbcType="NVARCHAR" property="BoardContent"/>
		<result column="BOARD_DATE" jdbcType="TIMESTAMP" property="BoardDate"/>
		<result column="BOARD_ANSWER" jdbcType="BIGINT" property="BoardAnswer"/>
		<result column="BOARD_KIND" jdbcType="NVARCHAR" property="BoardKind"/>
		<result column="BOARD_TITLE" jdbcType="NVARCHAR" property="BoardTitle"/>
	</resultMap>
	<select id="alllist" parameterType="CustomerserviceDTO" resultMap="listrs">
		select
			<include refid="customerservice" />
			from counter
			order by Board_Num
	</select>
	
	<select id="detail" resultMap="listrs" parameterType="int">
	select
		<include refid="customerservice" />
		from COUNTER
		where BOARD_NUM = #{num}
	</select>
	
	<!-- 공지만 빼오기 -->
	<select id="noticelist" parameterType="CustomerserviceDTO" resultMap="listrs">
	select
			<include refid="customerservice" />
			from counter
			where BOARD_KIND = '공지사항'
	</select>
	
	<!-- 답변빼오기 -->
	<resultMap type="AnswerDTO" id="answer">
		<id column="BOARD_ANSWER_NUM" jdbcType="BIGINT" property="BoardAnswerNum"/>
		<result column="BOARD_NUM" jdbcType="BIGINT" property="BoardNum"/>
		<result column="ANSWER_CONTENT" jdbcType="VARCHAR" property="AnswerContent"/>
		<result column="ANSER_DATE" jdbcType="TIMESTAMP" property="AnserDate"/>
		<result column="ANSER_TIME" jdbcType="BIGINT" property="AnserTime"/>
	</resultMap>
	<select id="answerselect" parameterType="int" resultMap="answer">
		select ANSWER_CONTENT
		from board
		where BOARD_ANSWER_NUM = #{num}
			
	</select>
	
	<update id="answerupdate" parameterType="hashmap" >
		update counter set CHARGE_NUM = #{chargeNum}
		where  BOARD_NUM = #{boardNum}
	</update>
	

	
	
	</mapper> 