<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FestivalMapper">
	<cache />
	 <sql id="basecolumn">
		FESTIVAL_NUM,
		PRODUCT_NUM,
		CATEGORY_NUM,
		FESTIVAL_ADD,
		FESTIVAL_TERM,
		FESTIVAL_INFORM,
		FESTIVAL_KING,
		FESTIVAL_START_DATE,
    	FESTIVAL_TELL,
    	FESTIVAL_FARE,
    	FESTIVAL_NAME,
    	FESTIVAL_AREA,
    	FESTIVAL_IMG
	</sql>
	
	
	<resultMap type="FestivalDTO" id="baseCommentDTO">
		<id column="FESTIVAL_NUM" jdbcType="BIGINT" property="FESTIVALNUM"/>
		<result column="PRODUCTNUM" jdbcType="BIGINT" property="PRODUCTNUM"/>
		<result column="CATEGORY_NUM" jdbcType="BIGINT" property="CATEGORYNUM"/>
		<result column="FESTIVAL_ADD" jdbcType="VARCHAR" property="FESTIVALADD"/>
		<result column="FESTIVAL_TERM" jdbcType="VARCHAR" property="FESTIVALTERM"/>
		<result column="FESTIVAL_INFORM" jdbcType="VARCHAR" property="FESTIVALINFORM"/>
		<result column="FESTIVAL_KING" jdbcType="NVARCHAR" property="FESTIVALKING"/>
		<result column="FESTIVAL_START_DATE" jdbcType="DATE" property="FESTIVALSTARTDATE"/>
		<result column="FESTIVAL_TELL" jdbcType="VARCHAR" property="FESTIVALTELL"/>
		<result column="FESTIVAL_FARE" jdbcType="BIGINT" property="FESTIVALFARE"/>
		<result column="FESTIVAL_NAME" jdbcType="NVARCHAR" property="FESTIVALNAME"/>
		<result column="FESTIVAL_AREA" jdbcType="NVARCHAR" property="FESTIVALAREA"/>
		<result column="FESTIVAL_IMG" jdbcType="NVARCHAR" property="FESTIVALIMG"/>
	</resultMap>
	<select id="selectlist" parameterType="FestivalDTO" resultMap="baseCommentDTO">
		SELECT
	  		<include refid="basecolumn" />
		FROM FESTIVAL
	</select>  




</mapper> 