<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="MemberInfoMapper">
	<cache />



	<select id="memberInfo" resultMap="memberInfo">
		SELECT  member_id, member_name, member_mail, member_gender, member_tell, member_area, pass_change_date 
		FROM member 
		WHERE member_id = #{id}
	</select>
	
	
	<resultMap type="MemberDTO" id="memberInfo">
	<id column="MEMBER_ID" jdbcType="BIGINT" property="memberId"/>
		<result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName"/>
		<result column="MEMBER_MAIL" jdbcType="VARCHAR" property="memberMail"/>
		<result column="MEMBER_GENDER" jdbcType="VARCHAR" property="memberGender"/>
		<result column="MEMBER_TELL" jdbcType="VARCHAR" property="memberTell"/>
		<result column="MEMBER_AREA" jdbcType="VARCHAR" property="memberArea"/>
		<result column="PASS_CHANGE_DATE" jdbcType="TIMESTAMP" property="passChangeDate"/>
	</resultMap>
	
	<update id="memberUpdate" parameterType="MemberDTO">
		UPDATE member SET 
		member_id = #{memberId}, member_name = #{memberName}, member_pw = #{memberPw}, member_mail = #{memberMail},
		 member_tell = #{memberTell}, member_area = #{memberArea}, mail_confrim = #{mailConfrim},  pass_change_date = sysdate
		 WHERE  member_id = #{memberId}
	</update>


</mapper>