<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	
<mapper namespace="OptionMapper">
	<cache />
	
	<!-- 옵션 등록 -->
	<insert id="optionInsert" parameterType="OptionDTO">
		INSERT INTO
			OPTIONS (OPTION_NUM, OPTION_PRODUCT, OPTION_PRICE, OPTION_SORTATION)
		VALUES((select nvl(max(OPTION_NUM),0) +1 from OPTIONS), #{optionProduct},
				#{optionPrice}, #{optionSoration})
	</insert>
	
	<select id="optionList" resultMap="optionList">
		SELECT OPTION_NUM, OPTION_PRODUCT, OPTION_PRICE, OPTION_SORTATION
		FROM OPTIONS
		ORDER BY OPTION_SORTATION 
	</select>
	<resultMap type="OptionDTO" id="optionList">
		<id column="OPTION_NUM" jdbcType="BIGINT" property="optionNum" />
		<result column="OPTION_PRODUCT" jdbcType="VARCHAR" property="optionProduct"/>
		<result column="OPTION_PRICE" jdbcType="BIGINT" property="optionPrice"/>
		<result column="OPTION_SORTATION" jdbcType="VARCHAR" property="optionSoration"/>
	</resultMap>
<!-- 각 상품별로 옶션 상품 정보를 가져오기위한 -->
<select id="Option" parameterType="String" resultMap="option">
		select OPTION_NUM,OPTION_PRODUCT,OPTION_PRICE
		from options
		where OPTION_SORTATION =#{kind}
</select>

<resultMap type="OptionDTO" id="option">
	<id column="OPTION_NUM" jdbcType="BIGINT" property="optionNum"/>
	<result column="OPTION_PRODUCT" jdbcType="VARCHAR" property="optionProduct"/>
	<result column="OPTION_PRICE" jdbcType="BIGINT" property="optionPrice"/>
</resultMap>


</mapper> 