<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ScreenMapper">
	<cache />

<insert id="screenInsert" parameterType="ScreenDTO">

insert into SCREEN (SCREEN_NUM, THEATER_NUM,SCREEN_KIND,
                    SCREEN_ROW, SCREEN_COLUMN, SCREEN_NAME,SCREEN_STOREIMG,SCREEN_IMG  
                    ,SCREEN_PLUS)
      values((select nvl(max(SCREEN_NUM),0) +1 from SCREEN)
      ,#{theaterNum},#{screenKind},#{screenRow},#{screenColumn},#{screenName},
      #{screenStoreimg},#{screenImg},#{screenPlus})  
                  
</insert>
<select id="screenLists" parameterType="long" resultMap="screenList">
  
  select SCREEN_NUM,SCREEN_KIND,
     SCREEN_ROW, SCREEN_COLUMN, SCREEN_NAME, SCREEN_STOREIMG 
                    ,SCREEN_PLUS from screen 
                    where theater_num=#{no}
</select>


<resultMap type="ScreenDTO" id="screenList">
		<id column="SCREEN_NUM" jdbcType="BIGINT" property="screenNum" />
		<result column="SCREEN_KIND" jdbcType="VARCHAR" property="screenKind" />
		<result column="SCREEN_ROW" jdbcType="BIGINT" property="screenRow"/>
		<result column="SCREEN_COLUMN" jdbcType="BIGINT" property="screenColumn"/>
		<result column="SCREEN_NAME" jdbcType="VARCHAR" property="screenName" />
		<result column="SCREEN_STOREIMG" jdbcType="VARCHAR" property="screenStoreimg" />
		<result column="SCREEN_PLUS" jdbcType="BIGINT" property="screenPlus" />
</resultMap>
<insert id="screenMovieInsert" parameterType="DateProductMovieDTO">

insert into DATEMOVIE (PRODUCT_NUM, SCREEN_NUM, THEATER_NUM,
        CATEGORY_NUM, MOVIE_START, MOVIE_DATE, MOVIE_NUM)
      values(#{productNum},#{screenNum},#{theaterNum},#{categoryNum},#{movieStart},sysdate,
      #{movieNum})  
                  
</insert>

</mapper>


