<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="TheaterMapper">
	<cache />

	<!-- 영화관등록 -->
	<insert id="insertTheater" parameterType="TheaterRegisterDTO">
		INSERT INTO
		THEATER (THEATER_NUM,THEATER_NAME,THEATER_ADD,THEATER_AREA,THEATER_TELL,THEATER_KIND)
		values((select nvl(max(THEATER_NUM),0) +1 from
		THEATER),#{theaterName},#{theaterAdd},#{theaterArea},#{theaterTell},
		#{theaterKind})
	</insert>
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   <!-- 영화관 검색 -->
    <select id="listTheater" parameterType="HashMap" resultMap="listTheater">
        select THEATER_NUM, THEATER_NAME, THEATER_ADD, THEATER_AREA, THEATER_TELL, THEATER_KIND from THEATER where THEATER_KIND=#{kind} and THEATER_AREA=#{area}
    
    </select>
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   <!-- 검색된 영화관 불러오기 -->
   <select id="screenList" parameterType="long" resultMap="listTheater">
        select THEATER_NUM, THEATER_NAME, THEATER_ADD, THEATER_AREA, THEATER_TELL, THEATER_KIND from THEATER where THEATER_NUM=#{num} 
       </select>
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<resultMap type="TheaterRegisterDTO" id="listTheater">
		<id column="THEATER_NUM" jdbcType="BIGINT"
			property="theaterNum" />
		<result column="THEATER_NAME" jdbcType="VARCHAR"
			property="theaterName" />
		<result column="THEATER_ADD" jdbcType="VARCHAR"
			property="theaterAdd" />
		<result column="THEATER_AREA" jdbcType="VARCHAR"
			property="theaterArea" />
		<result column="THEATER_TELL" jdbcType="VARCHAR"
			property="theaterTell" />
		<result column="THEATER_KIND" jdbcType="VARCHAR"
			property="theaterKind" />
	</resultMap>
</mapper>


