<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="TheaterMapper">
	<cache />

	<!-- 영화관등록 -->
	<insert id="insertTheater" parameterType="TheaterRegisterDTO">
		INSERT INTO
		THEATER (THEATER_NUM,THEATER_NAME,THEATER_ADD,THEATER_AREA,THEATER_TELL,THEATER_KIND)
		values((select nvl(max(THEATER_NUM),0) +1 from
		THEATER),#{theaterName},#{theaterAdd},#{theaterArea},#{theaterTell},
		#{theaterKind})
	</insert>
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   <!-- 영화관 검색 -->
    <select id="listTheater" parameterType="HashMap" resultMap="listTheater">
        select THEATER_NUM, THEATER_NAME, THEATER_ADD, THEATER_AREA, THEATER_TELL, THEATER_KIND from THEATER where THEATER_KIND=#{kind} and THEATER_AREA=#{area}
     </select>
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   <!-- 검색된 영화관 불러오기 -->
   <select id="screenList" parameterType="long" resultMap="listTheater">
        select THEATER_NUM, THEATER_NAME, THEATER_ADD, THEATER_AREA, THEATER_TELL, THEATER_KIND from THEATER where THEATER_NUM=#{num} 
       </select>
  
    <select id="screenMovie" parameterType="long" resultMap="listScreenMovies">
            select s.SCREEN_NUM,s.SCREEN_KIND, m.MOVIE_STOREIMG,m.MOVIE_NUM,m.MOVIE_PRICE,m.MOVIE_TITEL,s.SCREEN_ROW,s.SCREEN_COLUMN,s.SCREEN_NAME,s.SCREEN_PLUS
              from SCREEN s left outer join DATEMOVIE d on(d.SCREEN_NUM=s.SCREEN_NUM) left outer join movie m on(d.MOVIE_NUM=m.MOVIE_NUM) where d.theater_num=#{num} group by s.SCREEN_NUM,s.SCREEN_KIND, m.MOVIE_STOREIMG,m.MOVIE_TITEL,m.MOVIE_NUM,m.MOVIE_PRICE,m.MOVIE_TITEL,s.SCREEN_ROW,s.SCREEN_COLUMN,s.SCREEN_NAME,s.SCREEN_PLUS
       </select>
    	<select id="movieScreentimes" parameterType="HashMap" resultMap="movietime">
    select MOVIE_START, PRODUCT_NUM from DATEMOVIE where screen_num=#{no} and THEATER_NUM=#{tno}
    </select>   
      
	<!-- theaterList 영화관 리스트 -->
  	<select id="theaterList" resultMap="listTheater">
  		select THEATER_NUM, THEATER_NAME, THEATER_ADD, THEATER_AREA, THEATER_TELL, THEATER_KIND from THEATER
  	</select>
  
  
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   <select id="movieTimeSeat" parameterType="HashMap" resultType="Long">
     select PRODUCT_NUM from DATEMOVIE where screen_num=#{snum} and THEATER_NUM=#{tnum} and MOVIE_START =#{time}  
   </select>
	<resultMap type="DateProductMovieDTO" id="movietime">
		<result column="MOVIE_START" jdbcType="VARCHAR"
			property="movieStart" />
		<result column="PRODUCT_NUM" jdbcType="VARCHAR"
			property="productNum" />	
        </resultMap>
		
		<resultMap type="DateMovieDTO" id="listScreenMovies">
		<result column="MOVIE_STOREIMG" jdbcType="VARCHAR"
			property="movieStoreimg" />
		<result column="MOVIE_TITEL" jdbcType="VARCHAR"
			property="movieTitel" />
		<result column="MOVIE_PRICE" jdbcType="BIGINT"
			property="moviePrice" />
		<result column="SCREEN_NUM" jdbcType="BIGINT"
			property="screenNum" />
		<result column="SCREEN_KIND" jdbcType="VARCHAR"
			property="screenKind" />
		<result column="SCREEN_ROW" jdbcType="BIGINT"
			property="screenRow" />
		<result column="SCREEN_COLUMN" jdbcType="BIGINT"
			property="screenColumn" />		
		<result column="SCREEN_NAME" jdbcType="BIGINT"
			property="screenName" />			
		<result column="SCREEN_PLUS" jdbcType="BIGINT"
			property="screenPlus" />			
	    <result column="MOVIE_NUM" jdbcType="BIGINT"
			property="movieNum" />

	</resultMap>
	
	
	<resultMap type="TheaterRegisterDTO" id="listTheater">
		<id column="THEATER_NUM" jdbcType="BIGINT"
			property="theaterNum" />
		<result column="THEATER_NAME" jdbcType="VARCHAR"
			property="theaterName" />
		<result column="THEATER_ADD" jdbcType="VARCHAR"
			property="theaterAdd" />
		<result column="THEATER_AREA" jdbcType="VARCHAR"
			property="theaterArea" />
		<result column="THEATER_TELL" jdbcType="VARCHAR"
			property="theaterTell" />
		<result column="THEATER_KIND" jdbcType="VARCHAR"
			property="theaterKind" />
	</resultMap>
</mapper>


