<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="Model.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="Model.FestivalDTO" alias="FestivalDTO"/>
		<typeAlias type="Model.AccomodationDTO" alias="AccomodationDTO"/>
		<typeAlias type="Model.AccomodationRegisterDTO" alias="AccomodationRegisterDTO"/>
		<typeAlias type="Model.ChargerDTO" alias="ChargerDTO"/>
		<typeAlias type="Model.CustomerserviceDTO" alias="CustomerserviceDTO"/>
		<typeAlias type="Model.RestaurantDTO" alias="RestaurantDTO"/>
		<typeAlias type="Model.FoodDTO" alias="FoodDTO"/>
		<typeAlias type="Model.TheaterRegisterDTO" alias="TheaterRegisterDTO"/>
	</typeAliases>

</configuration>